body {
    width: 899px;
    margin-left: 155px;
    margin-right: 155px;
}


/*Header styles*/
.header {
    margin-top: 0px;
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
}

.logo {
    float: left;
    margin-right: 10px;
    margin-top: 0px;
    
}

.social {
    float: right;
    position: relative;
    margin-top: 0px;
    right: 10px;
    margin-top: 20px;
}

h1 {
    font-family: 'Yellowtail', cursive;
    font-size: 28px;
    position: relative;
    top: 0px;
    line-height: 1px;
}

h2 {
    font-size: 9px;
    width: 300px;
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;
    color: #a8afb6;
}

.divider {
    height: 10px;
    background-image: url(img/hr-img.png);
    background-repeat: repeat;
}

/* Body Style */

main {
    width: 899px;
    margin: auto;
}

.blogPost1 {
    display: inline;
}

.print {
    float: right;
}

.printButton {
    padding-right: 0;
    float: right;
}

.chocoZaa {
    width: 100%;
    display: block;

}

p {
    font-family: 'Lora', serif;
    font-size: 16px;
    text-indent: 30px;
    color: #a8afb6;
}

h3 {
    font-family: 'Oswald', sans-serif;
    line-height: 1px;
    font-size: 25px;
}

h4 {
    font-family: 'Oswald', sans-serif;
    font-size: 10px;
    line-height: 1px;
    text-transform: uppercase;
    color: #c2c7cc;
}

.shopping-list {
    background-image: url(img/list-bg.png);
    height: 305px;
    width: 899px;
    margin-bottom: 40px;
}

.shopping-left {
    float: left;
    padding-left: 100px;
}

.shopping-right {
    float: right;
    padding-right: 160px;
}

ul {
    padding-top: 10px;
}
li {
    font-family: 'Patrick Hand', cursive;
    font-size: 22px;
    line-height: 34px;
    color: #786439;
}

span {
    font-family: 'Patrick Hand', cursive;
    font-size: 22px;
    line-height: 34px;
    color: #786439;
}

.strikethrough:checked + span {
    text-decoration: line-through;
}

/* Footer styles */

.van {
    float: left;
    padding-right: 10px;
}

.button {
    background-color: #d8613c;
    font-family: 'Oswald', sans-serif;
    text-decoration: uppercase;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    font-size: 16px;
    margin: 0px 2px;
    cursor: pointer;
    float: right;
}

.p1 {
    font-family: 'Lora', serif;
    font-size: 16px;
    color: #a8afb6;
    padding-right: 60px;
    display: inline;
    text-align: center;
}

.author {
    padding-bottom: 40px;
}
footer {
    padding-top: 20px;
    padding-bottom: 20px;
    line-height: 5px;
    /* display: inline-block; */
    text-align: center;
    margin: auto;
}

hr.left {
    border: .5px solid #a8afb6;
    width: 45%;
    float: left; 
    margin-right: 10px;
}

hr.right {
    border: .5px solid #a8afb6;
    width: 45%;
    float: right; 
    margin-left: 10px;
}

.bottom {
    padding: 10px;
    opacity: 50%;
    align-content: center;
}

h5 {
    font-size: 18px;
    line-height: 1px;
}