body {
    width: 960px;
    margin-left: 155px;
    margin-right: 155px;
}


/*Header styles*/
.header {
    margin-top: 0px;
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
}

.logo {
    float: left;
    margin-right: 10px;
    margin-top: 0px;
    
}

.social {
    float: right;
    position: relative;
    margin-top: 0px;
    right: 10px;
    margin-top: 20px;
}

h1 {
    font-family: 'Yellowtail', cursive;
    font-size: 28px;
    position: relative;
    top: 0px;
    line-height: 1px;
}

h2 {
    font-size: 9px;
    width: 300px;
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;
    color: #a8afb6
}

.divider {
    height: 25px;
    background-image: url(img/hr-img.png);
    background-repeat: repeat-x;
}

/* Body Style */

main {
    margin-left: auto;
    margin-right: auto;
}

.chocoZaa {
    width: 80%;
    display: block;

}

p {
    width: 80%;
    font-family: 'Lora', serif;
    font-size: 12px;
    text-indent: 30px
}

h3 {
    font-family: 'Oswald', sans-serif;
    line-height: 1px;
    font-size: 25px;
}

h4 {
    font-family: 'Oswald', sans-serif;
    font-size: 10px;
    line-height: 1px;
    text-transform: uppercase;
    color: #c2c7cc;
}